/* .container {
  display: flex; 
} */

html {
  height:100%;
}

body {
  /* background-color: #9EE9F9; */
  background:
  linear-gradient(217deg, rgba(224,255,157,.8), rgba(0,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,211,255,.9), rgba(0,0,0,0) 70.71%),
  linear-gradient(336deg, rgba(241,167,8,.8), rgba(0,0,0,0) 70.71%),
  linear-gradient(54deg, rgba(62,104,183,.8), rgba(0,0,0,0) 70.71%);
  background-repeat: no-repeat;
}

.toFlex {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.square {
  border: 1px solid #3E68B7; 
  width: 60px; 
  height: 60px; 
  background-color: #2E4A7E;
}

.row {
  display: flex; 
  flex-direction: row; 
}

#left-portion{
  /* width: 33%; */
  padding: 30px;
}

#right-portion{
  /* width: 66%; */
  padding: 50px;
  /* background-color: blue; */

}

h1 {
  font-size: 70px;
  margin-bottom: 20px;
  color: #000000;
  font-family: 'Dancing Script', sans-serif;
}


.instructions {
  font-size: 15px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#instructionTitle {
  font-size: 20px;
  font-weight: bold;
}

ul {
  text-align: center;
  list-style-position: inside;
  padding-left: 0px;
}

#score-box {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #FFFAFA;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#logo {
  width: 200px;
}